{% extends 'base.djhtml' %}
{% load i18n %}


{% block content %}
<div class="mmain">
{% if member.avatar %}
<img height="128" width="128" class="avatar" src="{{ MEDIA_URL}}{{ member.avatar }}"/>
{% else %}
<img height="128" width="128" class="avatar" src="{{ MEDIA_URL}}images/unknown.png"/>
{% endif %}

<div class="mainproperties">
<h2>{{ member.name }}</h2>
<h3><a href="{{ member.link }}">{{ member.link }}</a></h3>
<h3>{{ member.mail }}</h3>
</div>
<div class="details">
<table class="details_table">
{% for detail in details %}
<tr>
<td id="field_name"><h4><span>{{ detail.field_name}}:</spna></h4></td> <td id="field_value"><h4><value>{{ detail.field_value }}</value></h4></td>
</tr>
{% endfor %}
</table>
</div>
<br/><br/><br/>
<h3>{% trans 'Bio' %}:</h3>
<p>{{ member.desc }}</p>
</div>
{% endblock %}
