* {padding: 0; margin: 0;}

body {
    background: white;
    color: #2a2a2a;
}

header {
    height: 70px;
    padding: 0 10px 10px 10px;
}

#lang {
    -moz-transition: background 300ms linear 0ms;
    -webkit-transition: background 300ms linear 0ms;
    font-size: 10px;
    padding: 5px;
    margin: 0 30px;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
}

#lang:hover {
    background: #f7dd77;
}

header .beta {
    padding: 5px;
    background: #9eb653;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
}
header h1{
    text-indent: 100px;
    height: 120px;
    font-size: 90px;
    width: 600px;
    border-bottom: 1px solid #1a1a1a;
}

#content {
    min-height: 600px;
    margin: 50px 0 50px 0;
}

aside {
    width: 300px;
    position: absolute;

}
.menu {
    width: 300px;
    border-radius: 5px;
    margin: 20px 0 0 0;

}
.menu ul {
    list-style: none;
    color :#3a3a3a;
    font-size: 20px;
    font-weight: 700;
}

.menu ul a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #f7f7f7;
    margin-left: 10px;
}



.blue {
    background: #5071af;
}
.green {
    background: #7c942e;
}

article {
    width: 800px;
    padding: 20px;
    margin: 15px 0 0px 20px;
    border-radius: 5px;
}

#firstpage {
    width: 800px;
    padding: 20px;
    margin: 15px 0 80px 20px;
    border-radius: 5px;
}

#firstpage h1 {
    font-size: 48px;
}
article {
    -moz-transition: background 300ms linear 0ms;
    -webkit-transition: background 300ms linear 0ms;
}
article:hover {
    background: #f7f7f7; 
}

section p {
    padding-left: 10px;
}
section{
    text-indent: 20px;
    margin-bottom: 20px;
}

article span {
    font-size: 12px;
    float: right;

}
footer {
    font-size: 12px;
    text-align: center;
}

article h2 a {
    text-decoration: none;
    color: #2a2a2a;
    text-transform: capitalize;
}
article h2 a:visited {
    color: #2a2a2a;
}
article h2 {
    -moz-transition: padding-left 300ms linear 0ms;
    -webkit-transition: padding-indent 300ms linear 0ms;
}
article h2:hover {
   padding-left: 40px;
}

.menu ul li {
    -moz-transition: text-indent 150ms linear 0ms;
    -webkit-transition: text-indent 150ms linear 0ms;
    text-indent: 0;
}
.menu ul li:hover {
    text-indent: 10px;
}

header h1 {
    background-image: url('/statics/images/logo.svg');
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 107px;
}