.header {
    padding: 90px 0 20px 0;
}

footer {
    Background: #C53D0D;
    background-color: #C53D0D;
    border-top: 3px solid #F06D3E;
    z-index: 50;
    background-image: radial-gradient(circle farthest-corner at center center , #F27041 0%, #C53D0D 100%);    

}
