.header {
    padding: 0px 0 20px 0;
    Background: #1f1f1f;
    position: absolute;
    height: 460px;
    width: 100%;
}

footer {
    Background: #C53D0D;
    background-color: #C53D0D;
    border-top: 3px solid #F06D3E;
    z-index: 50;
    background-image: radial-gradient(circle farthest-corner at center center , #F27041 0%, #C53D0D 100%);
    color : white;

}

footer a {
    font-size: 15px;
    color: white;
    text-shadow: 0px 2px 3px black;
    transition: text-shadow 300ms linear 0ms;
    -moz-transition: text-shadow 300ms linear 0ms;
    -webkit-transition: text-shadow 300ms linear 0ms;

}
footer a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0px 2px 3px black;
    transition: text-shadow 300ms linear 0ms;
    -moz-transition: text-shadow 300ms linear 0ms;
    -webkit-transition: text-shadow 300ms linear 0ms;

}
footer ul a {
    color: white;
    text-shadow: 0px 2px 3px black;
    transition: text-shadow 300ms linear 0ms, opacity 300ms linear 0ms;
    -moz-transition: text-shadow 300ms linear 0ms, opacity 300ms linear 0ms;
    -webkit-transition: text-shadow 300ms linear 0ms, opacity 300ms linear 0ms;
    opacity: 0.8;

}
footer ul {
    list-style: none;

}
footer ul li {
    margin: 5px 0 5px 0;

}
footer ul a:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
    text-shadow: 0px 2px 3px black;
    transition: text-shadow 300ms linear 0ms, opacity 300ms linear 0ms;
    -moz-transition: text-shadow 300ms linear 0ms, opacity 300ms linear 0ms;
    -webkit-transition: text-shadow 300ms linear 0ms, opacity 300ms linear 0ms;

}

.maincontainer {
    min-height: 300px;
    padding: 20px 0 20px 0;
}
.vspan4 {
    padding: 20px 0 20px 0;
    min-height: 200px;

}

.controls {
    margin: 10px 0 10px 0;
}
.center {
    margin: 0 auto;
    float: none;
}

#follow {
    opacity: 1;

}

#follow div{
    margin: 0 20px;
}

#banner {
    background-color: #E6E6E6;
    background: url(images/linear_bg_2.png);
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6), to(#DEDEDE));
    background: -webkit-linear-gradient(top, #DEDEDE, #E6E6E6);
    background: -moz-linear-gradient(top, #DEDEDE, #E6E6E6);
    background: -ms-linear-gradient(top, #DEDEDE, #E6E6E6);
    background: -o-linear-gradient(top, #DEDEDE, #E6E6E6);
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1) inset;
}

#Carousel {

    height: 500px;
}