* {
    font-family: "myriad-pro","Trebuchet MS","Arial", sans-serif, 'Helvetica Neue',Helvetica,Arial,sans-serif;

}
#lang {
    float: right;
}

header .beta {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 50px;
    left: 440px;
    width: 36px;
}

header h1 {
    background-position-x: =5px;
}
aside {
    left: 900px;
}

.menu ul {
    padding: 10px 0px 20px 10px;
}
.menu ul a {
    margin-left: 10px;
}

header h1 {
    background: url('/statics/images/logo.svg') 0 5px no-repeat transparent;
    background-size: 107px;
}
header h2 {
    float: right;
    font-size: 15px;
    color: #5a5a5a;
}
 
header .beta {
    padding: 5px;
    background: #9eb653;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
}
