* {
    font-family: "myriad-pro","Trebuchet MS","Arial", sans-serif, 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.brand {
    font-weight: 700;
}
/*
#lang {
    float: right;
}

header {
}
    header .beta {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 50px;
        left: 440px;
        width: 36px;
    }
    header h1 {
        background-position-x: =5px;
    }

aside {
    left: 900px;
}

.menu {
}
    .menu ul {
        padding: 10px 0px 20px 10px;
    }
    .menu ul a {
        margin-left: 10px;
    }
*/