@font-face {
    font-family: IranianSans;
    src: url('/statics/fonts/IranianSans.eot?#') format('eot'), /* IE6–8 */
         url('/statics/fonts/IranianSans.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('/statics/fonts/IranianSans.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body {
    font-family: IranianSans, Tahoma, 'DejaVu Sans';
    direction: rtl;
}
#topmenu {
    width: 940px;
}
#firstcontrols {
    padding-right: 20px;
}