<!DOCTYPE html>
{% load i18n %}
{% load page_nav %}
{% get_language_info for LANGUAGE_CODE as lang %}
<html lang="{{ lang.code }}">
  <head>
    <meta charset="UTF-8">

    <title>
      {% block title %}
      {% trans " KarajLug " %}
      {% endblock %}
    </title>

    <meta name="description" content="KarajLug Karaj Linux users group">
    <meta name="author" content="Sameer Rahmani - Behnam Ahmad Khan Beigi Ebrahim Byagowi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/statics/favicon.png">

    {% if lang.bidi %}
    <link href="/statics/bootstrap/bidi/css/bootstrap.rtl.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="/statics/css/bidi/style.css">

    {% else %}
    <link rel="stylesheet" href="/statics/css/fonts.css">
    <link rel="stylesheet" href="/statics/css/style.css">
    <link href="/statics/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% endif %}
    <link rel="stylesheet" href="/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="/statics/css/common.css">

    {% block extrahead %}
    {% endblock %}
  </head>

<body dir="{% if lang.bidi %}rtl{% else %}ltr{% endif %}">
{% block body %}


<div class="navbar navbar-fixed-top">


  <div class="navbar-inner">
    <div class="container" id="topmenu">
      <div class="row">
	<div class="span12">

	  <a class="brand" href="/"><b>{% trans "Karajlug" %}</b></a>

	  <ul class="nav">
	    <!--<li><a href="/members/">{% trans "Members" %}</a></li>
	    <li><a href="/books/">{% trans "Books" %}</a></li>
	    <li><a href="/projects/">{% trans "Projects" %}</a></li>-->
	    <li><a href="/contact/">{% trans "Contact" %}</a></li>
	    <li><a href="/faq/">{% trans "FAQ" %}</a></li>
	  </ul>

	  <ul class="nav pull-right">
	    {% get_language_info for LANGUAGE_CODE as lang %}
	    {% if lang.bidi %}
	    <li><a href="/en{{ request.path }}?lang=en">{% trans "English" %}</a></li>
	    {% else %}
	    <li><a href="/fa{{ request.path }}?lang=fa">{% trans "Persian" %}</a></li>
	    {% endif %}
	  </ul>

	</div>
      </div>
    </div>
  </div>
</div>





{% block header %}

{% endblock header %}


<div class="container maincontainer">
{% block content %}

{% endblock content %}
</div>


<footer>
  <div class="container">

    <div class="row">

      <div class="span4 vspan4">
	<div class="center span3">
	<h3 class="ftitle">{% trans 'Other Lugs' %}:</h3>
	  <ul>
	    <li><a href="#">{% trans 'Tehran lug' %}</a></li>
	    <li><a href="#">{% trans 'Isfahan Lug' %}</a></li>
	    <li><a href="#">{% trans 'Zanjan Lug' %}</a></li>
	    <li><a href="#">{% trans 'Mashhad Lug' %}</a></li>
	  </ul>
	</div>
      </div>
      <div class="span4 vspan4">
	<div class="center span3">
	<h3 class="ftitle">{% trans 'Useful links' %}:</h3>
	<ul>
	  <li><a href="http://en.wikipedia.org/wiki/Linux_user_group">{% trans "What is LUG?" %}</a></li>
	  <li><a href="https://github.com/Karajlug">{% trans 'Karajlug on Github' %}</a></li>
	  <li><a href="http://www.gnu.org/">{% trans 'GNU Project' %}</a></li>
	</ul>
      </div>
	</div>
      <div class="span4 vspan4">
	<div class="center span3" id="follow">
	  <h3 class="ftitle">{% trans 'Karajlug in' %}:</h3>
	  <a href="https://github.com/Karajlug" ><i class="icon-github icon-3x"></i></a>
	  <a href="https://www.twitter.com/karajlug" ><i class="icon-twitter icon-3x"></i></a>
	  <a href="http://www.facebook.com/pages/KarajLug/113288182057531" ><i class="icon-facebook-sign icon-3x"></i></a>

      </div>

    </div>
    <div class="row">
      <div class="span12">
	<p align="center"  class="small">{% trans "Copyright 2010-2013 Karajlug Community" %}.</p>
      </div>
    </div>
  </div>

</footer>
{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="javascript">
  console.log("Asd");
</script>

{% block tail %}

{% if lang.bidi %}
<script src="/statics/bootstrap/js/bootstrap.min.js"></script>

{% else %}
<script src="/statics/bootstrap/js/bootstrap.min.js"></script>
{% endif %}
<script type="javascript">
$(function(){
$('.carousel').carousel();
});
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51099eb16d71fbe2"></script>
{% endblock tail %}

</body>
</html>
