<!DOCTYPE html>
{% load i18n %}
{% load page_nav %}
{% get_language_info for LANGUAGE_CODE as lang %}
<html lang="{{ lang.code }}">
  <head>
    <meta charset="UTF-8">

    <title>
      {% block title %}
      {% trans " KarajLug " %}
      {% endblock %}
    </title>

    <meta name="description" content="KarajLug Karaj Linux users group">
    <meta name="author" content="Sameer Rahmani - Behnam Ahmad Khan Beigi Ebrahim Byagowi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/statics/favicon.png">
    <link rel="stylesheet" href="/statics/css/fonts.css">

    {% if lang.bidi %}
    <link rel="stylesheet" href="/statics/css/bidi/style.css">
    <link href="/statics/bootstrap/bidi/css/bootstrap.rtl.min.css" rel="stylesheet" media="screen">

    {% else %}
    <link rel="stylesheet" href="/statics/css/style.css">
    <link href="/statics/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% endif %}

    <link rel="stylesheet" href="/statics/css/common.css">

    {% block extrahead %}
    {% endblock %}
  </head>

<body dir="{% if lang.bidi %}rtl{% else %}ltr{% endif %}">
{% block body %}

<div class="navbar navbar-fixed-top navbar-inverse">

  <div class="navbar-inner">
    <div class="container">
      <div class="row">
	<div class="span12">

	  <a class="brand" href="/"><b>{% trans "Karajlug" %}</b></a>

	  <ul class="nav">
	    <li><a href="/members/">{% trans "Members" %}</a></li>
	    <li><a href="/books/">{% trans "Books" %}</a></li>
	    <li><a href="/projects/">{% trans "Projects" %}</a></li>
	    <li><a href="/faq/">{% trans "FAQ" %}</a></li>
	  </ul>

	  <ul class="nav {% if lang.bidi %}pull-left{% else %}pull-right{% endif %}">
	    {% get_language_info for LANGUAGE_CODE as lang %}
	    {% if lang.bidi %}
	    <li><a href="/en{{ request.path }}">{% trans "English" %}</a></li>
	    {% else %}
	    <li><a href="/fa{{ request.path }}">{% trans "Persian" %}</a></li>
	    {% endif %}
	  </ul>

	</div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="row header">

    <div class="span9">
      <h1>{% trans "Karaj Linux User Group" %}</h1>
      <p>{% trans "Karaj Linux User Group is a NGO that is active on GNU/Linux and Free Software fields." %}</p>

    </div>

    <div class="span3">
      <form class="form-horizontal" action="" method="POST">

	<div class="controls">
	  <div class="input-prepend ">
	    <span class="add-on"><i class="icon-user"></i></span>
	    <input class="span2" id="prependedInput" name="fullname" type="text" placeholder="{% trans 'Full Name' %}">
	  </div>
	</div>

	<div class="controls">
	  <div class="input-prepend">
	    <span class="add-on">@</span>
	    <input class="span2" id="prependedInput" name="email" type="email" placeholder="{% trans 'Email' %}">
	  </div>
	</div>

	<div class="controls">
	  <div class="input-prepend">
	    <span class="add-on"><i class="icon-asterisk"></i></span>
	    <input class="span2" id="prependedInput" name="pw" type="password" placeholder="{% trans 'Password' %}">
	  </div>
	</div>

	<div class="controls">
	  <div class="input-prepend">
	    <span class="add-on"><i class="icon-asterisk"></i></span>
	    <input class="span2" id="prependedInput" name="pw-conf" type="password" placeholder="{% trans 'Confirm password' %}">
	  </div>
	</div>

	<div class="controls">
	  <input type="submit" value="{% trans "Join" %}" class="btn btn-success">
	</div>

      </form>
    </div>
  </div>

</div>


<div class="container maincontainer">
{% block content %}

{% endblock content %}
</div>


<footer>
  <div class="container">

    <div class="row">

      <div class="span4 vspan4">
	<div class="center span3">
	<h3>{% trans 'Other Lugs' %}</h3>
	  <ul>
	    <li><a href="#">{% trans 'Tehlug' %}</a></li>
	    <li><a href="#">{% trans 'Isfahan Lug' %}</a></li>
	    <li><a href="#">{% trans 'Zanjan Lug' %}</a></li>
	    <li><a href="#">{% trans 'Mashhad Lug' %}</a></li>
	  </ul>
	</div>
      </div>
      <div class="span4 vspan4">
	<div class="center span3">
	<h3>{% trans 'Useful links' %}</h3>
	<ul>
	  <li><a href="#">{% trans 'GNU Project' %}</a></li>
	</ul>
      </div>
	</div>
      <div class="span4 vspan4" style="direction: ltr;">
	<div class="center span3" id="follow">
	  <h3>{% trans 'Follow' %}</h3>
	  <!-- AddThis Follow BEGIN -->
	  <div class="addthis_toolbox addthis_32x32_style addthis_vertical_style">
	    <a class="addthis_button_facebook_follow" addthis:userid="groups/229260650455573/"></a>
	    <a class="addthis_button_twitter_follow" addthis:userid="Karajlug/karajlug"></a>
	    <a class="addthis_button_rss_follow" addthis:userid="karajlug.org/news/feed/"></a>
	  </div>
	  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51099eb16d71fbe2"></script>
	  <!-- AddThis Follow END -->

      </div>

    </div>
    <div class="row">
      <div class="span12">
	<p align="center"  class="small">{% trans "Copyright 2010-2013 Karajlug Community" %}.</p>
      </div>
    </div>
  </div>

</footer>
{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<!-- <script>
  docuement.JQuery || document.write("<script src='/statics/js/jquery.min.js'></script>");
</script>-->
{% if lang.bidi %}
<script src="/statics/bootstrap/bidi/js/bootstrap-rtl.min.js"></script>
{% else %}

<script src="/statics/bootstrap/js/bootstrap.min.js"></script>

{% endif %}

</body>
</html>
