<!DOCTYPE html>
{% load i18n %}
{% load page_nav %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <title>
      {% block title %}
      {% trans " KarajLug " %}
      {% endblock %}
    </title>
    
    <meta name="description" content="KarajLug Karaj Linux users group">
    <meta name="author" content="Sameer Rahmani - Behnam Ahmad Khan Beigi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/statics/favicon.png">
    <link rel="stylesheet" href="/statics/css/fonts.css">
    <link rel="stylesheet" href="/statics/css/common.css">	


    {% get_language_info for LANGUAGE_CODE as lang %}
    {% if lang.bidi %}
    <link rel="stylesheet" href="/statics/css/bidi/style.css">	
    {% else %}
    <link rel="stylesheet" href="/statics/css/style.css">	
    {% endif %}
    {% block extrahead %}
    {% endblock %}
  </head>
<body>
{% block body %}
<header>
  <div id="lang">
    {% get_language_info for LANGUAGE_CODE as lang %}
    {% if lang.bidi %}
    <a href="/en{{ request.path }}">{% trans "English" %}</a>
    {% else %}
    <a href="/fa{{ request.path }}">{% trans "Persian" %}</a>
    {% endif %}
  </div>
  <h1>{% trans "Karajlug" %}</h1><div class="beta">{% trans "BETA" %}</div>
</header>

<div id="content">
<aside>
<nav id="mainmenu" class="menu blue">
  <ul class="menu">{% trans "Navigation" %}
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="/members/">{% trans "Members" %}</a></li>
    <li><a href="/books/">{% trans "Books" %}</a></li>
    <li><a href="/projects/">{% trans "Projects" %}</a></li>
    <li><a href="/faq/">{% trans "FAQ" %}</a></li>
  </ul>
</nav>

<nav id="pagemenu" class="menu green">
{% navigation %}
</nav>

</aside>

{% block content %}




{% endblock content %}

</div>

<footer>
<p>Copyright 2010-2013 Karajlug Community.</p>
</footer>
{% endblock %}
</body>
</html>
