{% extends 'base.html' %}
{% load i18n %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>{% trans "Stay in touch with Karajlug" %}</h1>
    <br /><br /><br />
    <ul class="offset1">
      <li><h3>{% trans "IRC" %}:</h3><span>{% trans "Server:" %} <b>irc.freenode.net</b>  {% trans "Channel" %}: <a class="ltr-text" href="irc://irc.freenode.net/#5hit">#5hit</a></span></li>
      <li><h3>{% trans "Mailing List" %}:</h3> <a href="http://lists.nongnu.org/mailman/listinfo/karajlug-general">http://lists.nongnu.org/mailman/listinfo/karajlug-general</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block extrahead %}
{% endblock extrahead %}
