<form action="http://merchant.parspal.com/postservice/" method="post" id="TransactionForm"/>

	<input type="hidden" id="MerchantID" value="2367702" name="MerchantID"/>
	<input type="hidden" id="Password" value="N4U8zLBET" name="Password"/>

	<table style="direction:rtl;font-family:tahoma; font-size:8pt" dir="rtl">
		<tr><td class="title">مبلغ مورد نظر: </td>
		<td><input type="text" name="Price" dir="ltr"/>تومان</td></tr>
		<tr><td>پرداخت کننده : </td><td><input type="text" name="Paymenter"/></td></tr>
		<tr><td>ايميل پرداخت کننده : </td><td><input type="text" dir="ltr" name="Email"/></td></tr>
		<tr><td>موبایل پرداخت کننده : </td><td><input type="text" dir="ltr" name="Mobile"/></td></tr>
		<tr><td></td>
		<td>
		<input style="font-family:tahoma; font-size:8pt" type="submit" value="اتصال به درگاه پرداخت آنلاین پارس پال" style="height:30px"/>
		</td>
	</table>

	<input type="hidden" id="ResNumber" value="0" name="ResNumber"/>
	<input type="hidden" id="Description" value="خرید" name="Description"/>
	<input type="hidden" id="ReturnPath" value="http://www.karajlug.org/" name="ReturnPath" />
</form>
