{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="donation">
<p>
  {% trans 'Help to reach our goals by donating money.' %}
  <br /><br /><br />
</p>
<form action="http://merchant.parspal.com/postservice/" method="post" id="TransactionForm"/>

	<input type="hidden" id="MerchantID" value="2367702" name="MerchantID"/>
	<input type="hidden" id="Password" value="N4U8zLBET" name="Password"/>

	<table style="direction:{% if lang.bidi %}rtl{% else %}ltr{% endif %};" dir="{% if lang.bidi %}rtl{% else %}ltr{% endif %}">
		<tr><td class="title">{% trans 'Donation Price' %}: </td>
		<td><input type="text" name="Price" dir="ltr"/>{% trans 'Toman' %}</td></tr>
		<tr><td>{% trans 'Paymenter' %} : </td><td><input type="text" name="Paymenter"/></td></tr>
		<tr><td>{% trans 'Email' %} : </td><td><input type="text" dir="ltr" name="Email"/></td></tr>
		<tr><td>{% trans 'Mobile' %}: </td><td><input type="text" dir="ltr" name="Mobile"/></td></tr>
		<tr><td></td>
		<td>
		<input  type="submit" value='{% trans "Connect to ParsPal" %}' style="height:30px"/>
		</td>
	</table>
	<input type="hidden" id="ResNumber" value="0" name="ResNumber"/>
	<input type="hidden" id="Description" value="خرید" name="Description"/>
	<input type="hidden" id="ReturnPath" value="http://www.karajlug.org/" name="ReturnPath" />
</form>
</div>

{% endblock content %}
