{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div id="firstpage">
  <h1>{{ page.title }}</h1>
  <section id="firstpagecontent">
    {% autoescape off %}
    {{ page.content }}
    {% endautoescape %}
  </section>
</div>


{% for news in news_list %}
<article>
  <h2><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h2>
  <section>
    {% autoescape off %}
    {{ news.content|linebreaks }}
    {% endautoescape %}
  </section>
  <span>{% trans "On" %} {{ news.pdate }} {% trans "by" %} {{ news.user }}</span>
</article>
{% endfor %}

{% endblock %}
