{% load i18n %}
{% load appfilters %}
<div class="sociallinks">
  {% trans "Share it" %}:
  <a href="https://twitter.com/intent/tweet?source=KarajLug&text={{ title|urlencode }}&url={{ url|full_path|urlencode }}"><i class="icon-twitter"></i></a>
  <a href="http://www.facebook.com/sharer.php?u={{ url|full_path|urlencode }}&t={{ title|urlencode }}"><i class="icon-facebook-sign"></i></a>
  <a href="https://plus.google.com/share?url={{ url|full_path|urlencode }}"><i class="icon-google-plus"></i></a>
</div>
