{% extends 'base.html' %}
{% load i18n %}
{% load appfilters %}

{% block title %}
{{ news.title }}
{% trans " KarajLug " %}
{% endblock %}
{% block content %}

<article>
  {% include 'social_links.html' with url=news.get_absolute_url title=news.title %}
  <h1>{{ news.title }}</h1>
  <section>
    {% autoescape off %}
    {{ news.content|linebreaks }}
    {% endautoescape %}
  </section>
  <span>{% trans "On" %} {{ news.date|format_date:news.lang }} {% trans "by" %} {{ news.user }}</span>
</article>
{% endblock %}
